* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
body,
html {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
body {
  /* Default */
  font-family: "League-Spartan";
  font-size: 15px;
}

:root {
  /* Colors */
  /* Primary */
  --Very-Dark-Magenta: hsl(300, 43%, 22%);
  --Soft-Pink: hsl(333, 80%, 67%);
  /*  Neutral */
  --Dark-Grayish-Magenta: hsl(303, 10%, 53%);
  --Light-Grayish-Magenta: hsl(300, 24%, 96%);
  --White: hsl(0, 0%, 100%);
  /* ---------------------------- */
  --main-transition: 0;
  --section-margin: 2rem;
  --section-padding: 1rem;
}
.container {
  /* Default 1.5rem */
  padding: 0 3rem;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
@media (min-width: 1440px) {
  .container {
    width: 1370px;
  }
}
@font-face {
  font-family: "League-Spartan";
  src: url(../assets/fonts/League_Spartan/LeagueSpartan-VariableFont_wght.ttf);
}
@font-face {
  font-family: "League-Spartan-400";
  font-weight: 400;
  src: url(../assets/fonts/League_Spartan/LeagueSpartan-VariableFont_wght.ttf);
}
@font-face {
  font-family: "League-Spartan-500";
  font-weight: 500;

  src: url(../assets/fonts/League_Spartan/LeagueSpartan-VariableFont_wght.ttf);
}
@font-face {
  font-family: "League-Spartan-700";
  font-weight: 700;

  src: url(../assets/fonts/League_Spartan/LeagueSpartan-VariableFont_wght.ttf);
}
/* bg-img */
.bg-img.mob {
  display: none;
}
.bg-img {
  width: 100vw;
  height: 50vh;
  z-index: -99;
  position: fixed;
  left: 0;
  object-fit: cover;
}
.bg-img:nth-child(1) {
  top: 0;
}
.bg-img:nth-child(2) {
  bottom: 0;
}
@media (max-width: 767px) {
  .bg-img.mob {
    display: block;
  }
  .bg-img {
    display: none;
  }
}
.all-content {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (max-width: 991px) {
  .all-content {
    display: block;
  }
}
/* ## end bg-img ## */
/* evaluation-section */
/* evaluation-text */
.evaluation-section .container {
  display: flex;
  justify-content: space-between;
}
.evaluation-section .text-part {
  width: 35%;
}
.evaluation-section .text-part h1 {
  color: var(--Very-Dark-Magenta);
  font-family: "League-Spartan-700";
  font-size: 3.3rem;
  letter-spacing: -2px;
}
.evaluation-section .text-part p {
  color: var(--Dark-Grayish-Magenta);
  line-height: 1.4;
  font-size: 18px;
  font-family: "League-Spartan-500";
  margin-top: 1rem;
}
/* evaluation-card-part */
.evaluation-card-part {
  width: 55%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  text-align: center;
}
.evaluation-card {
  background-color: var(--Light-Grayish-Magenta);
  border-radius: 10px;
  padding: 1.2rem 0.5rem;
  display: flex;
  margin: 0.5rem;
  width: 75%;
  text-align: center;
}
.evaluation-card p {
  color: var(--Very-Dark-Magenta);
  font-family: "League-Spartan-700";
  margin-left: 2rem;
}
.evaluation-card:nth-child(1) {
  margin-right: auto;
}
.evaluation-card:nth-child(2) {
  margin-right: auto;
  margin-left: auto;
}
.evaluation-card:nth-child(3) {
  margin-left: auto;
}
.evaluation-card .stars-box {
  margin: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.evaluation-card .stars-box img {
  margin-right: 0.3rem;
  width: 15px;
  height: 15px;
}
@media (max-width: 991px) {
  .evaluation-section {
    margin-top: 2rem;
  }
  .evaluation-section .container {
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }
  .evaluation-section .evaluation-card-part,
  .evaluation-section .text-part {
    width: 100%;
    text-align: center;
  }
  .evaluation-section .evaluation-card-part {
    margin-top: var(--section-margin);
  }
  .evaluation-card {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    flex-direction: column;
  }
  .evaluation-card p {
    margin: 0;
  }
  .evaluation-card .stars-box {
    margin-bottom: 1rem;
    margin-left: 0;
    margin-right: 0;
  }
}
/* ## end evaluation-section ##  */
/* cards-section */
.cards-section {
  margin-top: 4rem;
}
.cards-section .container {
  display: flex;
  justify-content: space-between;
  min-height: 250px;
}
.cards-section .card {
  background-color: var(--Very-Dark-Magenta);
  border-radius: 10px;
  padding: 2rem;
  min-width: 32%;
  max-width: 100%;
  min-height: 220px;
}
.cards-section .card:not(:last-child) {
  margin-right: 1rem;
}
.cards-section .card:nth-child(1) {
  align-self: flex-start;
}
.cards-section .card:nth-child(2) {
  align-self: center;
}
.cards-section .card:nth-child(3) {
  align-self: flex-end;
}
.cards-section .card .heading {
  display: flex;
  align-items: center;
}
.cards-section .card .heading img {
  border-radius: 100vmax;
  width: 40px;
}
.cards-section .card .heading .title-box {
  margin-left: 1.2rem;
}
.cards-section .card .heading .title-box p:nth-child(1) {
  color: var(--White);
  font-family: "League-Spartan-700";
  letter-spacing: 1px;
}
.cards-section .card .heading .title-box p:nth-child(2) {
  margin-top: 0.3rem;
  font-family: "League-Spartan-500";
  color: var(--Soft-Pink);
  font-size: 16px;
}
.cards-section .card .text-box {
  margin-top: 1.4rem;
}
.cards-section .card .text-box p {
  color: var(--White);
  letter-spacing: 1px;
  line-height: 1.4;

  font-family: "League-Spartan-400";
  font-size: 14px;
}
@media (max-width: 991px) {
  .cards-section .container {
    flex-direction: column;
  }
  .cards-section .card {
    align-self: center !important;
    margin: 1rem 0 !important;
  }
}
/* ## end cards-section ## */
